<app-navbar> </app-navbar>

<div class="container h-full">
  <div class="h-full bg-white rounded-lg shadow-xl dark:bg-gray-800">
    <div
      class="flex items-center justify-between p-6 bg-white rounded-t-lg dark:bg-gray-800"
    >
      <div class="flex items-center">
        <img
          src="https://img.icons8.com/fluent/48/000000/server.png"
          class="mr-3"
        />
        <h2 class="text-3xl font-bold tracking-widest uppercase font-display">
          Crear servidor
        </h2>
      </div>
      <!-- <span class="text-gray-400"> {{servers.length}} </span> -->
    </div>

    <div class="flex flex-col p-6">
      <div class="input-group">
        <label for="name" class="input-label">Nombre</label>
        <input
          id="name"
          type="text"
          class="input dark:bg-gray-700"
          formControlName="nickname"
        />
      </div>
      <!-- /input -->

      <div class="input-group">
        <label for="name" class="text-sm font-bold">Nombre</label>
        <input
          id="name"
          type="text"
          class="input dark:bg-gray-700"
          formControlName="nickname"
        />
      </div>
      <!-- /input -->

      <div class="input-group">
        <label for="name" class="text-sm font-bold">Nombre</label>
        <input
          id="name"
          type="text"
          class="input dark:bg-gray-700"
          formControlName="nickname"
        />
      </div>
      <!-- /input -->
    </div>
  </div>
</div>
