<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="z-10 mb-24 bg-gray-800">
  <div class="container relative flex items-center justify-between h-16">
    <a
      routerLink="/"
      class="flex items-center text-3xl tracking-wider text-gray-300 font-display"
    >
      <img
        src="https://img.icons8.com/emoji/48/000000/soccer-ball-emoji.png"
        class="mr-3"
      />
      <span class="hidden md:inline"> Deporte y convivencia </span>
      <span class="md:hidden">D y C </span>
    </a>
    <div class="flex items-center">
      <ng-content></ng-content>

      <div class="ml-4">
        {{ nickname }}
      </div>
    </div>
  </div>
</nav>
